<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>成績管理bot GradesManagementBot</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="valorantやOW等のチーム対戦ゲームの成績を個人単位で勝率を記録できるdiscord botです。">
<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="/">成績管理bot GradesManagementBot</a></h1>
</header>

<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="/">HOME</a></li>
<li><a href="guide.html">GUIDE</a></li>
<li><a href="me.html">ME</a></li>
<li><a href="invitation.html">INVITATION</a></li>
</ul>
</nav>

<!--スライドショー（slick）-->
<div class="mainimg">
<div><img src="../static/images/qwe.png" alt=""></div>
<div><img src="../static/images/qw.png" alt=""></div>
<div><img src="../static/images/qwer.png" alt=""></div>
</div>

<main>

<section>

<h2>このbotはなあに？</h2>
<h3>GradesManagementBotとは</h3>
<p>valorant等の対戦ゲームの成績を個人単位で勝率を記録できるbotです。</p>
<p>詳しい使い方は<a href="guide.html">GUIDE</a>をご覧下さい。</p>

</section>

<section>
<h2>招待方法</h2>
<p><a href="invitation.html">INVITATION</a>にて招待することが出来ます。</p>

</section>

<section>

<h2>お知らせ</h2>

<dl id="new">
<dt>2021/12/16</dt>
<dd>ホームページを開設しました</dd>
<dt>2022/12/10</dt>
<dd>TuTechにて紹介することになりました</dd>
</dl>

</section>

</main>

<footer>
<ul class="icon">
<li><a href="https://twitter.com/papegame7200"><img src="../static/images/icon_twitter.png" alt="Twitter"></a></li>
<li><a href="https://www.instagram.com/p/Cgw6YjXpfM-/?igshid=YmMyMTA2M2Y=@"><img src="../static/images/icon_instagram.png" alt="Instagram"></a></li>
<li><a href="https://www.youtube.com/channel/UCRWL25QWizUbepEQgKAtN3A"><img src="../static/images/icon_youtube.png" alt="YouTube"></a></li>
</ul>
<small>Copyright&copy; <a href="index.html">Grades-management-bot</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="../static/js/slick.js"></script>

<!--ページの上部へ戻るボタンとスクリプト-->
<p class="pagetop"><a href="#">↑</a></p>
<script src="../static/js/openclose_tp.js"></script>

</body>
</html>
